html, body {
    font: 12px/1.1 Cuprum, sans-serif;
}

/*LAYOUTS*/
h1 {
    font-size: 33px;
}

h1>span {
    font-size: 45px;
}

h2 {
    font-size: 16px;
}

h3,
.title_h3 {
    font-size: 12px;
}

#nav_menu {
    width: 1000px;
}
#nav_menu ul li {
    float: left;
    display: block;
    padding-right: 15px;
}
#nav_menu ul li a {
    width: auto;
    min-width: auto;
}

.read_more a,
.count_concrete a,
.details a {
    width: auto;
    float: left;
    display: block;
}