
@font-face
{
    font-weight: normal;
    font-style: normal;
    font-family: 'MyMyriadPro';
    src: url('../fonts/MyriadPro-Regular/MyriadPro-Regular.eot');
    src: url('../fonts/MyriadPro-Regular/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MyriadPro-Regular/MyriadPro-Regular.woff') format('woff'),
    url('../fonts/MyriadPro-Regular/MyriadPro-Regular.ttf') format('truetype'),
    url('../fonts/MyriadPro-Regular/MyriadPro-Regular.svg#webfont') format('svg');
}

/*GENERAL*/

html, body {
    color: #ffffff;
    font: 13px/1.1 'MyMyriadPro', MyriadPro-Regular, 'Myriad Pro Regular', MyriadPro, 'Myriad Pro', Arial, sans-serif;
    background-color: #021121;
    min-height:100%;
}

div#bg_top {
    width:100%;
    background: url("../img/bg_top.png") transparent top center repeat-x;
    height: 620px;
    position: absolute;
    z-index: 5;
}

div#bg_main {
    width: 100%;
    background-image: url("../img/bg_main.png");
    background-position: center top;
    background-repeat: repeat;
    margin: 116px 0 0 0;
    position: absolute;
    z-index: 1;
    min-height:100%;
}

div.wrapper {
    width: 1024px;
    margin: 0 auto;
}

/*a {*/
    /*text-decoration: none;*/
/*}*/

/*p>a {*/
    /*color: #da2149;*/
/*}*/

/*p>a:visited {*/
    /*color: #731126;*/
/*}*/

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}

p>span {
    text-transform: uppercase;
}


/*LAYOUTS*/



