
@font-face
{
    font-weight: normal;
    font-style: normal;
    font-family: 'MyMyriadPro';
    src: url('../fonts/MyriadPro-Regular/MyriadPro-Regular.eot');
    src: url('../fonts/MyriadPro-Regular/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MyriadPro-Regular/MyriadPro-Regular.woff') format('woff'),
    url('../fonts/MyriadPro-Regular/MyriadPro-Regular.ttf') format('truetype'),
    url('../fonts/MyriadPro-Regular/MyriadPro-Regular.svg#webfont') format('svg');
}

/*GENERAL*/

html, body {
    color: #ffffff;
    font: 13px/1.1 'MyMyriadPro', MyriadPro-Regular, 'Myriad Pro Regular', MyriadPro, 'Myriad Pro', Arial, sans-serif;
    background: url("../img/bg_common.png") #021121 repeat-x top center;
    min-height:100%;
}

/*a {*/
/*text-decoration: none;*/
/*}*/

/*p>a {*/
/*color: #da2149;*/
/*}*/

/*p>a:visited {*/
/*color: #731126;*/
/*}*/

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}

p>span {
    text-transform: uppercase;
}

.fl_left {
    float: left;
}

a.orange {
    color: #e89725;
    font-size: 12px;
}

a.grey {
    color: #939393;
    font-size: 12px;
}

form input[type=text],
form input[type=password],
form input[type=submit] {
    border-radius: 10px;
    width: 100px;
    margin: 8px;
    padding: 0;
    font-family: Trebuchet MS, sans-serif;
}

form input[type=text],
form input[type=password] {
    border: solid 1px #c8c8c8;
    color: #747474;
    padding: 0 10px;
    font-size: 11px;
    height: 21px;
    line-height: 21px;
}

form input[type=submit] {
    text-align: center;
    line-height: 18px;
    height: 23px;
    color: #ffffff;
    font-size: 14px;
    font-style: italic;
    padding: 0 10px;
    border: solid 1px #007a9e;
    background: url("../img/bg_blue.png") repeat-x transparent top left;
}

div#bg_top {
    background: url("../img/bg_top.png") transparent center top repeat-x;
    width:100%;
    /*height: 520px; *//** 620 **/
    position: absolute;
    z-index: 15;
}

div#bg_subtop {
    background: url("../img/bg_subtop.png") transparent center 55px no-repeat;
    width: 100%;
    height: 100%;
}

#header_top {
    height: 116px;
    width: 100%;
}

#in_header_top {
    height: 60px;
    padding: 28px 0;
}

#in_header_top form {
    margin: 8px 0;
}

div#banner_wrap,
div#banner {
    width: 100%;
    height: 280px;
    padding: 122px 0 0 0;
}
div#banner_wrap {
    position: absolute;
    z-index: 10;
    top: 116px;
}
div#banner {
    background: url('../img/bg_banner.png') no-repeat center top;
}
div#banner_wrap h1,
div#banner h1 {
    height: 140px;
    line-height: 60px;
    text-align: left;
}
div#banner_wrap h1 {
    background: url("../img/bg_arrow_wrap.png") repeat-x scroll left top;
    width: 50%;
    padding: 12px 0 0;
}
div#banner h1 {
    background: url("../img/bg_arrow.png") no-repeat scroll right top rgba(0, 0, 0, 0);
    width: 500px;
    padding: 12px 120px 0 20px;
}

div#bg_main {
    width: 100%;
    background-image: url("../img/bg_main.png");
    background-position: center top;
    background-repeat: repeat;
    margin: 116px 0 0 0;
    padding: 0;
    position: absolute;
    z-index: 5;
    min-height:100%;
}

div.with_banner div#bg_main {
    padding: 375px 0 0 0 !important;
}

div#bg_bottom {
    background: url("../img/bg_bottom.png") transparent no-repeat left bottom;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 904px;
    height: 627px;
}

div#bg_right {
    background: url("../img/bg_right.png") transparent no-repeat left bottom;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 479px;
    height: 875px;
}

div#bg_shadow {
    background: url("../img/bg_shadow.png") transparent repeat-x center top;
    width: 100%;
    height: 100%;
    position: relative;
}

div.centralPosition {
    width: 1024px;
    margin: 0 auto;
    /*border: solid 1px #fff;*/
}

#logo {
    width: 313px;
    height: 60px;
    margin: 0 10px 0 0;
    background: url('../img/logo.png') no-repeat;
}

#logo a {
    width: 100%;
    height: 100%;
    text-indent: -10000px;
    display: block;
}

#search form input[type=text] {
    width: 146px; /* -40px psd */
}

#registration_form form input[type=text],
#registration_form form input[type=password]{
    width: 112px; /* -40px psd */
}

#form_links {
    margin: 12px 0 0 8px;
}

/*LAYOUTS*/
h1 {
    font-size: 39px;
    text-transform: uppercase;
}

h1>span {
    font-size: 55px;
}

h2 {
    font-size: 20px;
    text-transform: uppercase;
}

h3 {
    font-size: 15px;
    text-transform: uppercase;
    color: #41c2f2;
}

#nav_menu ul {
    text-align: justify;
    font-size: 0;
    padding: 20px 0;
}

#nav_menu ul:after {
    width: 100%;
    display: inline-block;
    content: "";
}

#nav_menu ul li {
    display: inline-block;
}

#nav_menu ul li a {
    text-decoration: none;
    font-size: 16px;
    line-height: 1em;
    color: #ffffff;
    padding-left: 55px;
}

#feedback,
#news {
    width: 20%;
    background-image: url("../img/bg_article.png");
    background-repeat: no-repeat;
    background-position: right;
    padding: 0 15px;
}

#feedback .article,
#news .article {
    border-bottom: dashed 1px #161d23;
}

#project {
    width: 49%;
    padding: 0 15px;
}

.article {
    padding-top: 25px;
}

.article p {
    text-align: left;
}

.article .feedback_date {
    font-size: 12px;
    line-height: 1.5em;
    color: #a6be66;
}

.article .feedback_author {
    font-size: 14px;
    line-height: 1.3em;
    color: #0ba6b8;
}

.article .news_date {
    font-size: 12px;
    line-height: 1.5em;
}

.article .news_name {
    font-size: 13px;
    line-height: 1.5em;
    color: #a6be66;
}

.article img {
    margin-right: 6px;
}

.article .project_title {
    font-size: 14px;
    line-height: 1.5em;
    color: #8eb83c;
}

p.read_more {
    display: inline-block;
    margin: 10px 0;
    height: 24px;
    line-height: 20px;
}

p.read_more a {
    font-size: 12px;
    color: #ffffff;
    padding: 0 8px;
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: block;
    background-color: #195066;
    border-radius: 7px;
    text-align: center;
    opacity: 0.7;
}

#footer {
    clear: both;
    text-align: center;
    background-image: url("../img/bg_footer.png");
    background-position: bottom center;
    background-repeat: no-repeat;
    line-height: 80px;
}

#footer p {
    font-size: 12px;
}

